<!--
文件名称：getrepair.html
当前版本：V1.0
作者：灰灰吃不饱项目组
完成日期：2023年6月30日
-->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<title>igua Student Dormitory Management System</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
	</head>

	<body>
		<div class="topbar-wrap white">
			<div class="topbar-inner clearfix">
				<div class="topbar-logo-wrap clearfix">
					<h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">igua Student Dormitory Management System</a></h1>
				</div>
				<div class="top-info-wrap">
					<ul class="top-info-list clearfix">
						<li><a href="/student/outlogin">退出登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container clearfix">
			<div class="sidebar-wrap">
				<div class="sidebar-title">
					<h1><img src="/images/应用菜单_application-menu.png">菜单</h1>
				</div>
				<div class="sidebar-content">
					<ul class="sidebar-list">
						<li>
							<ul class="sub-menu">
								<li>
									<a href="/student/getuser"><img src="/images/头像_avatar.png"><i class="icon-font">&#xe008;</i>个人信息查询</a>
								</li>
								<li>
									<a href="/student/getclean"><img src="/images/清除_clear.png"><i class="icon-font">&#xe005;</i>卫生情况</a>
								</li>
								<li>
									<a href="/student/setrepairs"><img src="/images/工具_tool.png"><i class="icon-font">&#xe006;</i>填写报修信息</a>
								</li>
								<li>
									<a href="/student/getrepairs"><img src="/images/查找_find.png"><i class="icon-font">&#xe004;</i>查询报修信息</a>
								</li>
							</ul>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
			<!--/sidebar-->
			<div class="main-wrap">

				<div class="crumb-wrap">
					<div class="crumb-list">
						<a href="#">查询报修信息界面</a>
					</div>
				</div>

				<div class="result-content">
					<table class="result-tab" width="100%">
						<tr>
							<th width="150px">时间</th>
							<th>宿舍号</th>
							<th>损坏物品</th>
							<th>联系电话</th>
							<th>是否维修成功</th>
						</tr>
						<tr  th:each="repairs : ${repairslist}">
							<td th:text="${repairs.time}"></td>
							<td th:text="${repairs.dorm}"></td>
							<td th:text="${repairs.dormitorys}"></td>
							<td th:text="${repairs.tel}"></td>
							<td th:text="${repairs.whether}"></td>
						</tr>
					</table>
				</div>
				</form>
			</div>
		</div>
		</div>
	</body>

</html>
